<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @task.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @task.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @task.end_date %>
</p>

<p>
  <strong>Assigned:</strong>
  <%= @task.assigned_id %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @task.activity_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
