- content_for :sub_header do
  .fa.fa-briefcase
  = link_to "#{@project.code} - #{@project.name}", project_path

- content_for :sub_header_opts do
  
  .btn-group
    - if can? :update, @project
      = link_to edit_project_path(@project), class: 'btn btn-default' do
        %i.fa.fa-cog
        %span Configurar

= render 'sub_menu'

.content.weekly-plan-wrapper
  .clearfix
    .make-ready
      - if @activities.any?
        - @activities.each do |activity|
          .activity{ data: { duration: activity.duration_in_hours } }
            %span.name= activity.name
            %span.meta= activity.end_date.strftime('%d/%m/%Y')
      - else
        .empty Sin actividades listas para ejecutar

    .calendar

    -# .task-list
    -#   %ul
    -#     %li

:javascript
  window.projectCategories = #{project_categories_as_json(@project.project_categories)};
  window.projectMembers    = #{project_members_as_json(@project.project_members)};
